<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Change Credentials
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="{% static '/templates/in-Administrator/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static '/templates/in-Administrator/assets/css/now-ui-dashboard.css' %}" rel="stylesheet" />
  <link href="{% static '/templates/in-Administrator/assets/demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="http://localhost:8000" class="simple-text logo-mini">

        </a>
        <a href="http://localhost:8000" class="simple-text"
          style="font-size: 25px;font-family: 'Montserrat', sans-serif;">
          Eduwiz
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/signin/dashboard">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/signin/addremove">
              <i class="now-ui-icons users_single-02"></i>
              <p>Add / remove</p>
            </a>
          </li>
          <li class="active">
            <a href="/signin/changecredentials">
              <i class="now-ui-icons ui-2_settings-90"></i>
              <p>Change Credentials</p>
            </a>
          </li>
          <li>
            <a href="/signin/declaration">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p>Declaration</p>
            </a>
          </li>
          <li>
            <a href="/signin/viewdata">
              <i class="now-ui-icons education_paper"></i>
              <p>View Data</p>
            </a>
          </li>
          <li>
            <a href="/signin/Feescoll">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>Fees collection</p>
            </a>
          </li>
          <li>
            <a href="/signin/Attendancemanager">
              <i class="now-ui-icons files_single-copy-04"></i>
              <p>Attendance manager</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand">Change Credentials</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="now-ui-icons users_single-02"> </i>Administrator
                  <p>
                    <span class="d-lg-none d-md-block"></span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" style="pointer-events: none;color:Black;" href="http://www.google.com">Hello
                    {{uname}}</a>
                  <a class="dropdown-item" data-toggle="modal" data-target="#mdl">Change Admin Password</a>
                  <a class="dropdown-item" href="/logout">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <!--modal change Password-->
      <div class="modal fade" id="mdl">
        <div class="modal-content modal-dialog">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change admin Password<p style="font-size:15px;color:gray">
                Enter
                new password for Administrator account</p>
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="adminpwdchange">
            <div class="modal-body">
              <div class="input-group">
                <div class="col-12">
                  <label for="#Clerk_name">Enter new password :</label>
                  <input class="form-control" style="background-color: white;color:black" type="password" name=""
                    id="pwd" placeholder="New password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters' : ''); if(this.checkValidity()) form.pwd2.pattern = this.value;"
                    required>
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <label for="#Clerk_id">Confirm password :</label>
                  <input class="form-control" style="background-color: white;color:black" type="password" name=""
                    id="pwd2" placeholder="Confirm password"
                    onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Passwords doesn't match : '');"
                    title="Passwords doesnt match" required>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="Submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
      <!--modal change Password end-->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="places-buttons">
              <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h4 class="card-title">
                    Change Credentials
                    <p class="category">Choose what you want to change</p>
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 ml-auto mr-auto">
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#mdl3"
                        style="height: 100px;font-size: 15px">Change Student info</button>
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#mdl2"
                        style="height: 100px;font-size: 15px">Change Faculty
                        info</button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 ml-auto mr-auto">
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#mdl4"
                        style="height: 100px;font-size: 15px">Change Clerk info</button>
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#mdl5"
                        style="height: 100px;font-size: 15px">Change Dashboard
                        info</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  change student info -->
      <div class="modal fade" id="mdl3">
        <div class="modal-content modal-dialog">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change student data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="removeform"> {% csrf_token %}
            <div class="modal-body">
              <div class="input-group">
                <div class="col-5">
                  <label for="removestudent_std">std : </label>
                  <select class="removestudent_std" id="removestudent_std" name="standard" required
                    onchange="getdata()">
                    <option value="" selected disabled>Select std</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                </div>

                <div class="col-6">
                  <label for="#Enroll">Enroll :</label>
                  <input value="" type="number" name="student_Enroll_toremove" id="student_Enroll_toremove2"
                    placeholder="Enrollment no." style="width:100px" onclick="getdata()" onkeyup="getdata()" required>
                </div>
              </div>
            </div>
            <span id="hiddenremove2" hidden>
              <h2 class="display-4">No Student found</h2>
            </span>
            <span id="hiddenremove" hidden>
              <div class="input-group">
                <div class="col-11">
                  <label for="#firstnametoremove">Name :</label>
                  <input class="form-control" type="text" name="first_nametoremove" id="firstnametoremove"
                    placeholder="First name" style="width:110%" required>
                </div>
              </div>
              <div class="input-group">
                <div class="col-11">
                  <label for="#fathernametoremove">Father's full name</label>
                  <input class="form-control" type="text" name="father_name" id="fathernametoremove"
                    placeholder="Father's full name" style="width:110%" required>
                </div>
              </div>
              <div class="input-group">
                <div class="col-11">
                  <label for="#fatheroccupationtoremove">Father's occupation</label>
                  <input class="form-control" type="text" name="father_occupation" id="fatheroccupationtoremove"
                    placeholder="Father's occupation" style="width:110%" required>
                </div>
              </div>
              <div class="input-group">
                <div class="col-6">
                  <label for="#DOBtoremove">Date of birth</label>
                  <input type="date" class="form-control" name="DOBtoremove" id="DOBtoremove" required>
                </div>
                <div class="col-6">
                  <label class="label" for="#emailtoremove">Email</label>
                  <input class="form-control" type="email" id="emailtoremove" name="emailtoremove" autocomplete="on"
                    placeholder="Email ID">
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <label class="label" for="mobiletoremove">Phone Number <span class="lblsp">(without
                      +91)</span></label>
                  <input class="form-control" id="mobiletoremove" type="text" pattern="[6789][0-9]{9}" name="phone"
                    title="Please enter a valid mobile number" autocomplete="off" placeholder="Mobile" required>
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <label class="label" for="passwordtoremove">Password</label>
                  <input class="form-control" id="passwordtoremove" type="password" name="password" autocomplete="off"
                    placeholder="Password" required>
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <input type="checkbox" onclick="showpwd('passwordtoremove')">Show Password
                </div>
              </div>
              <div class="input-group">

              </div>
              <div class="input-group">
                <div class="col-12">
                  <label for="#Addresstoremove">Address</label>
                  <textarea rows="2" cols="40" name="addresstoremove" class="form-control" id="Addresstoremove"
                    value="Mike" placeholder="Address" required></textarea>
                </div>
              </div>

            </span>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input class="btn btn-info" id="deletetrigger" type="submit" value="Apply changes" disabled>
            </div>
          </form>
        </div>
      </div>

      <!--  End change student info -->
      <!--  change Faculty info -->
      <div class="modal fade" id="mdl2">
        <div class="modal-content modal-dialog">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change Faculty data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="changefacultydata">{% csrf_token %}
            <div class="modal-body">
              <div class="input-group">
                <div class="col-6">
                  <label for="#Enroll">Enrollment no. :</label>
                  <input class="form-control" type="number" name="" id="faculty_Enroll_toremove"
                    placeholder="Enrollment no." onkeyup="getfacultydata()" onclick="getfacultydata()" required>
                </div>
              </div>
            </div>
            <span id="hiddenremove2forfaculty" hidden>
              <h2 class="display-4">No Faculty data found</h2>
            </span>
            <span id="hiddenremoveforfaculty" hidden>
              <div class="input-group">
                <div class="col-11">
                  <label for="#remove_faculty_name">Name :</label>
                  <input class="form-control" type="text" name="remove_faculty_name" id="remove_faculty_name"
                    placeholder="Name" style="width:110%" required>
                </div>
              </div>
              <div class="input-group">
                <div class="col-6">
                  <label for="#remove_faculty_DOB">Date of birth</label>
                  <input type="date" class="form-control" id="remove_faculty_DOB" required>
                </div>
                <div class="col-6">
                  <label class="label" for="remove_faculty_email">Email</label>
                  <input class="form-control" type="email" id="remove_faculty_email" name="email" autocomplete="on"
                    placeholder="Email ID" required>
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <label for="#remove_faculty_subject2">Subject</label>
                  <input type="text" id="remove_faculty_subject2" class="form-control"
                    placeholder="Ex. Maths, Science etc." required>
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <label for="#remove_faculty_mobile" class="label">Phone Number <span class="lblsp">(without
                      +91)</span></label>
                  <input class="form-control" type="text" pattern="[6789][0-9]{9}" name="phone"
                    id="remove_faculty_mobile" title="Please enter a valid mobile number" autocomplete="off"
                    placeholder="Mobile" required>
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <label class="label" for="faculty_password">Password</label>
                  <input class="form-control" id="faculty_password" type="password" autocomplete="off"
                    placeholder="Password" required>
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <input type="checkbox" onclick="showpwd('faculty_password')">Show Password
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <label for="#remove_faculty_Address">Address</label>
                  <textarea rows="2" cols="40" class="form-control" id="remove_faculty_Address" value="Mike"
                    placeholder="Address" required></textarea>
                </div>
              </div>
            </span>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input class="btn btn-info" id="deletetrigger2" type="submit" value="Apply changes" disabled>
            </div>
          </form>
        </div>
      </div>
      <!--  End change faculty info -->
      <!--  change Clerk info -->
      <div class="modal fade" id="mdl4">
        <div class="modal-content modal-dialog">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change Clerk info<p style="font-size:15px;color:gray">Enter
                new info for clerk account</p>
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="clerkchangeform">
            <div class="modal-body">
              <div class="input-group">
                <div class="col-12">
                  <label for="#Clerk_name">Clerk name :</label>
                  <input class="form-control" type="text" name="" id="Clerk_name" placeholder="Clerk name" required
                    autocomplete="off">
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <label for="#Clerk_id">Clerk login id :</label>
                  <input class="form-control" type="text" name="" id="Clerk_id" placeholder="Clerk id" required
                    autocomplete="off">
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <label for="#clerk_pwd">Clerk Password :</label>
                  <input class="form-control" type="Password" id="clerk_pwd" placeholder="New Password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters' : ''); if(this.checkValidity()) form.pwd2.pattern = this.value;"
                    required autocomplete="off">
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <input type="checkbox" onclick="showpwd('clerk_pwd')">Show Password
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <label for="#confirm_pwd">Confirm Password :</label>
                  <input class="form-control" type="Password" name="pwd2" id="confirm_pwd"
                    placeholder="Confirm Password"
                    onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Passwords doesn't match : '');"
                    title="Passwords doesnt match" required autocomplete="off">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Next >">
            </div>
          </form>
        </div>
      </div>
      <!--  End change Clerk info -->
      <!--  change Dashboard info -->
      <div class="modal fade" id="mdl5">
        <div class="modal-content modal-dialog">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change Dashboard info<p style="font-size:15px;color:gray">
                Enter new info for dashboard account</p>
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="changedashboardform">
            <div class="modal-body">
              <div class="input-group">
                <div class="col-12">
                  <label for="#dashboard_id">Dashboard id :</label>
                  <input class="form-control" type="text" name="" id="dashboard_id" placeholder="New dashboard id"
                    required autocomplete="off">
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <label for="#dashboard_pwd">Dashboard Password :</label>
                  <input class="form-control" type="Password" id="dashboard_pwd" placeholder="New Password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters' : ''); if(this.checkValidity()) form.pwd2.pattern = this.value;"
                    required autocomplete="off">
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <input type="checkbox" onclick="showpwd('dashboard_pwd')">Show Password
                </div>
              </div>
              <div class="input-group">
                <div class="col-12">
                  <label for="#dashconfirm_pwd">Confirm Password :</label>
                  <input class="form-control" type="Password" name="pwd2" id="dashconfirm_pwd"
                    placeholder="Confirm Password"
                    onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Passwords doesn't match : '');"
                    title="Passwords doesnt match" required autocomplete="off">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Next >">
            </div>
          </form>
        </div>
      </div>
      <!--  End change Dashboard info -->
    </div>
    <!-- end content -->
    <footer class="footer">
      <div class="container-fluid">
        <nav>
          <ul>
            <li>
              <a href="http://www.vapsquare.tk">
                Blog
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static '/templates/in-Administrator/assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/core/popper.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/core/bootstrap.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
  <script src=".."></script>
  <script src="{% static '/templates/in-Administrator/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/plugins/bootstrap-notify.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/now-ui-dashboard.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/demo/demo.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    $('#mdl').on('hidden.bs.modal', function () {
      hideaction();
    });
    $('#mdl4').on('hidden.bs.modal', function () {
      hideaction();
      $("#dashboard_id").val(" ");
      $("#dashboard_pwd").val("");
      $("#dashconfirm_pwd").val("");
    });
    $('#mdl5').on('hidden.bs.modal', function () {
      hideaction();
      $("#Clerk_name").val(" ");
      $("#Clerk_id").val(" ");
      $("#Clerk_pwd").val("");
      $("#confirm_pwd").val("");
    });
    $('#mdl3').on('hidden.bs.modal', function () {
      hideaction();
    });
    $('#mdl2').on('hidden.bs.modal', function () {
      hideaction();
    });
    function hideaction() {
      document.getElementById("clerkchangeform").reset();
      document.getElementById("changedashboardform").reset();
      document.getElementById("removeform").reset();
      $("#deletetrigger").prop("disabled", true);
      $("#deletetrigger2").prop("disabled", true);
      $("#hiddenremove2").prop("hidden", true);
      $("#hiddenremove").prop("hidden", true);
      $("#hiddenremoveforfaculty").prop("hidden", true);
      $("#hiddenremove2forfaculty").prop("hidden", true);
      $("#faculty_Enroll_toremove").val("");
    }
    $(document).ready(function () {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });
    function getdata() {
      document.getElementById("passwordtoremove").type = "password";
      standard = $("#removestudent_std").val();
      enroll = $("#student_Enroll_toremove2").val();
      data2 = {
        'stdstd': standard,
        'enroll': enroll,
      }
      $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: '/getdata/',
        data: data2,
        success: function (result) {
          $("#firstnametoremove").val(result.name);
          $("#fathernametoremove").val(result.fathername);
          $("#fatheroccupationtoremove").val(result.fatherocc);
          a = String(result.dob);
          tempdob = "" +
            $("#DOBtoremove").val(String(result.dob)[6] + String(result.dob)[7] + String(result.dob)[8] + String(result.dob)[9] + "-" + String(result.dob)[3] + String(result.dob)[4] + "-" + String(result.dob)[0] + String(result.dob)[1]);
          $("#emailtoremove").val(result.email);
          $("#mobiletoremove").val(result.mobile);
          $("#Addresstoremove").val(result.address);
          $("#passwordtoremove").val(result.password)
          $("#deletetrigger").prop("disabled", false);
          $("#hiddenremove").prop("hidden", false)
          $("#hiddenremove2").prop("hidden", true);
        },
        error: function (error) {
          $("#firstnametoremove").val("  ");
          $("#fathernametoremove").val("  ");
          $("#fatheroccupationtoremove").val("  ");
          $("#DOBtoremove").val("  ");
          $("#emailtoremove").val("  ");
          $("#mobiletoremove").val("  ");
          $("#Addresstoremove").val("  ");
          $("#passwordtoremove").val(" ");
          $("#deletetrigger").prop("disabled", true);
          $("#hiddenremove").prop("hidden", true)
          $("#hiddenremove2").prop("hidden", false)
        }
      })
    }
    function getfacultydata() {
      document.getElementById("faculty_password").type = "password";
      enroll = $("#faculty_Enroll_toremove").val();
      data3 = {
        'enroll': enroll,
      }
      $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: '/getfacultydata/',
        data: data3,
        success: function (result) {
          $("#remove_faculty_name").val(result.name);
          //$("#remove_faculty_DOB").val(result.dob);
          $("#remove_faculty_DOB").val(String(result.dob)[6] + String(result.dob)[7] + String(result.dob)[8] + String(result.dob)[9] + "-" + String(result.dob)[3] + String(result.dob)[4] + "-" + String(result.dob)[0] + String(result.dob)[1]);
          $("#remove_faculty_email").val(result.email);
          $("#remove_faculty_subject2").val(result.subject);
          $("#remove_faculty_mobile").val(result.mobile);
          $("#remove_faculty_Address").val(result.address);
          $("#faculty_password").val(result.password);
          $("#deletetrigger2").prop("disabled", false);
          $("#hiddenremoveforfaculty").prop("hidden", false)
          $("#hiddenremove2forfaculty").prop("hidden", true);
        },
        error: function (error) {
          $("#remove_faculty_name").val("  ");
          $("#remove_faculty_DOB").val("  ");
          $("#remove_faculty_email").val("  ");
          $("#remove_faculty_subject2").val("  ");
          $("#remove_faculty_mobile").val("  ");
          $("#remove_faculty_Address").val("  ");
          $("#faculty_password").val("  ");
          $("#deletetrigger2").prop("disabled", true);
          $("#hiddenremoveforfaculty").prop("hidden", true)
          $("#hiddenremove2forfaculty").prop("hidden", false)
        }
      })
    }
    function showpwd(a) {
      var x = document.getElementById(a);
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }

    }

    $('#changefacultydata').submit(function (event) {
      event.preventDefault();
      $("#mdl2").modal("hide");
      enroll = $("#faculty_Enroll_toremove").val();
      name = $("#remove_faculty_name").val()
      DOB = $("#remove_faculty_DOB").val();
      Email = $("#remove_faculty_email").val();
      Password = $("#faculty_password").val();
      Subject = $("#remove_faculty_subject2").val();
      mobile = $("#remove_faculty_mobile").val();
      address = $("#remove_faculty_Address").val();
      data2 = {
        'enroll': enroll,
        'name': name,
        'DOB': DOB,
        'Email': Email,
        'Password': Password,
        'Subject': Subject,
        'mobile': mobile,
        'address': address,
      };
      $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: '/changefaculty/',
        data: data2,
        success: function (result) {
          $.notify({
            message: result.msg
          }, {
              type: 'info'
            });
        },
        error: function (error) {
          $.notify({
            message: "Unable to change faculty data. Please try again later."
          }, {
              type: 'danger'
            });
        }
      })
    })

    $("#removeform").submit(function (event) {
      event.preventDefault();
      $("#mdl3").modal("hide");
      standard = $("#removestudent_std").val();
      enroll = $("#student_Enroll_toremove2").val();
      name = $("#firstnametoremove").val()
      father_name = $("#fathernametoremove").val();
      father_occupation = $("#fatheroccupationtoremove").val();
      DOB = $("#DOBtoremove").val();
      Email = $("#emailtoremove").val();
      Password = $("#passwordtoremove").val();
      mobile = $("#mobiletoremove").val();
      address = $("#Addresstoremove").val();
      data1 = {
        'standard': standard,
        'enroll': enroll,
        'name': name,
        'father_name': father_name,
        'father_occupation': father_occupation,
        'DOB': DOB,
        'Email': Email,
        'Password': Password,
        'mobile': mobile,
        'address': address,
      };
      $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: '/changestudent/',
        data: data1,
        success: function (result) {
          $.notify({
            message: result.msg
          }, {
              type: 'info'
            });
        },
        error: function (error) {
          $.notify({
            message: "Unable to change student data. Please try again later."
          }, {
              type: 'danger'
            });
        }
      })
      //$("#mdl3").modal("hide");
    })
    $('#mdl4').on('show.bs.modal', function () {
      getglobaldata();
    })
    $('#mdl5').on('show.bs.modal', function () {
      getglobaldata();
    })
    function getglobaldata() {
      $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: '/getclerkdata/',
        success: function (result) {
          $("#Clerk_name").val(result.clerk_name);
          $("#Clerk_id").val(result.clerk_id);
          $("#dashboard_id").val(result.dashboard_id);
        },
        error: function (error) {
          swal({
            title: "Session Expired.",
            text: "Please sign in again.",
            icon: "info",
          }).then(function () {
            window.location.href = "http://localhost:8000/logout";
          })
        }
      });
    }
    $("#clerkchangeform").submit(function (event) {
      event.preventDefault();
      $("#mdl4").modal("hide");
      clerk_name = $("#Clerk_name").val();
      clerk_id = $("#Clerk_id").val();
      clerk_pwd = $("#clerk_pwd").val();
      datas = {
        'name': clerk_name,
        'id': clerk_id,
        'pwd': clerk_pwd,
      };
      //document.write(datas["name"] + datas["id"] + datas["pwd"])
      $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: '/changeclerkdata/',
        data: datas,
        success: function (result) {
          $.notify({
            message: result.msg
          }, {
              type: 'info'
            });
        },
        error: function (error) {
          $.notify({
            message: "Unable to change clerk data. Please try again later."
          }, {
              type: 'danger'
            });
        }
      })
    })
    $("#changedashboardform").submit(function (event) {
      event.preventDefault();
      dashboard_id = $("#dashboard_id").val();
      dashboard_pwd = $("#dashboard_pwd").val();
      datas = {
        'did': dashboard_id,
        'dpwd': dashboard_pwd,
      };
      $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: '/changedashboarddata/',
        data: datas,
        success: function (result) {
          $.notify({
            message: result.msg
          }, {
              type: 'info'
            });
        },
        error: function (error) {
          $.notify({
            message: "Unable to change dashboard data. Please try again later."
          }, {
              type: 'danger'
            });
        }
      })
    })
    $("#adminpwdchange").submit(function (event) {
      event.preventDefault();
      $("#mdl").modal("hide");
      pwd = $("#pwd").val();
      data3 = { "newpwd": pwd }
      $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: '/changeadminpwd/',
        data: data3,
        success: function (result) {
          $.notify({
            message: result.msg
          }, {
              type: 'success'
            });
        },
        error: function (error) {
          $.notify({
            message: "Unable to change admin password. Please try again later."
          }, {
              type: 'danger'
            });
        }
      })
    })
  </script>
</body>

</html>