<!DOCTYPE html>
<html lang="en">

<head>
    <title>Success</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        .swal-text {
            font-family: 'Montserrat', sans-serif;
            font-size: 25px;
        }
    </style>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script type="text/javascript">
        swal("Success", "Your unique school id to sign in is {{id}}.", "success").then(function () {
            window.location = "/signin";
        });
    </script>
</body>

</html>
