<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eduwiz</title>
    {% load static %}
    <link href="{% static '/templates/signin/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet"
        media="all">
    <link href="{% static '/templates/signin/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="all">
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"> </script>

    <script>
        {% if type == "error" %}
            sweetAlert("{{msg1}}", "{{msg2}}", "{{type}}").then(function () {
            {% if redirecturl %}
                window.location = "{{redirecturl}}";
            {% else %}
                window.history.back();
            {% endif %}
            });
        {% else %}
        {% endif %}    
    </script>
</body>

</html>