<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Clerk Account
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="{% static '/templates/in-Administrator/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static '/templates/in-Administrator/assets/css/now-ui-dashboard.css' %}" rel="stylesheet" />
  <link href="{% static '/templates/in-Administrator/assets/demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="http://localhost:8000" class="simple-text logo-mini">

        </a>
        <a href="http://localhost:8000" class="simple-text"
          style="font-size: 25px;font-family: 'Montserrat', sans-serif;">
          Eduwiz
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="/signin/dashboard">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>                    
          <li>
            <a href="/signin/viewdata">
              <i class="now-ui-icons education_paper"></i>
              <p>View Data</p>
            </a>
          </li>
          <li>
            <a href="/signin/Feescoll">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>Fees collection</p>
            </a>
          </li>  
          <li>
            <a href="/signin/declaration">
              <i class="now-ui-icons files_single-copy-04"></i>
              <p>Declaration</p>
            </a>
          </li>        
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="now-ui-icons users_single-02"> </i>Clerk
                  <p>
                    <span class="d-lg-none d-md-block"></span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" style="pointer-events: none;color:Black;" href="http://www.google.com">Hello
                    {{uname}}</a>                  
                  <a class="dropdown-item" href="/logout">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-lg">

        <canvas id="bigDashboardChart"></canvas>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Average fees collection percentage</h5>
                <h4 class="card-title">Fees collection</h4>                
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="lineChartExample"></canvas>                  
                </div>                
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons arrows-1_refresh-69"></i>{{cy}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Average fees collection percentage</h5>
                <h4 class="card-title">Fees collection</h4>                
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons arrows-1_refresh-69"></i>{{ny}}
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav>
            <ul>
              <li>
                <a href="http://www.vapsquare.tk">
                  Blog
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script>
    aa = [parseInt({{ st1 }}), parseInt({{ st2 }}), parseInt({{ st3 }}), parseInt({{ st4 }}), parseInt({{ st5 }}), parseInt({{ st6 }}), parseInt({{ st7 }}), parseInt({{ st8 }}), parseInt({{ st9 }}), parseInt({{ st10 }}), parseInt({{ st11 }}), parseInt({{ st12 }})];
    bb = [parseInt({{ sfp1 }}), parseInt({{ sfp2 }}), parseInt({{ sfp3 }}), parseInt({{ sfp4 }}), parseInt({{ sfp5 }}), parseInt({{ sfp6 }}), parseInt({{ sfp7 }}), parseInt({{ sfp8 }}), parseInt({{ sfp9 }}), parseInt({{ sfp10 }}), parseInt({{ sfp11 }}), parseInt({{ sfp12 }})];
    cc = [parseInt({{ sfpn1 }}), parseInt({{ sfpn2 }}), parseInt({{ sfpn3 }}), parseInt({{ sfpn4 }}), parseInt({{ sfpn5 }}), parseInt({{ sfpn6 }}), parseInt({{ sfpn7 }}), parseInt({{ sfpn8 }}), parseInt({{ sfpn9 }}), parseInt({{ sfpn10 }}), parseInt({{ sfpn11 }}), parseInt({{ sfpn12 }})];
  </script>
  <script src="{% static '/templates/in-Administrator/assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/core/popper.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/core/bootstrap.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
  <script src=".."></script>
  <script src="{% static '/templates/in-Administrator/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/plugins/bootstrap-notify.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/now-ui-dashboard.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/demo/demo.js' %}"></script>
  <script>
    $(document).ready(function (a) {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts(aa, bb,cc);
    });
  </script>
</body>

</html>