<!DOCTYPE html>
<html>
<head>
	<title>Sign up : Eduwiz</title>
    {% load static %}
    <link href="{% static '/templates/Signup/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static '/templates/Signup/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{% static '/templates/Signup/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static '/templates/Signup/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">
    <link href="{% static '/templates/Signup/css/main.css' %}" rel="stylesheet" media="all">
</head>
<body>
	<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Create clerk account</h2>
                    <form method="POST" action="/signup/"> {% csrf_token %}
                        <input type="text" name="checker" value="createacc" hidden>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Clerk Name</label>
                                    <input class="input--style-4" type="text" name="clerkname" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Clerk ID</label>
                                    <input class="input--style-4" type="text" name="clerkid" autocomplete="off" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'ID must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters' : '');" placeholder="Ex. John@2579">
                                </div>
                            </div>
                        </div>     
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Choose Password</label>
                                    <input class="input--style-4" type="Password" name="clerkpwd"autocomplete="off" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters' : ''); if(this.checkValidity()) form.clerkpwd2.pattern = this.value;">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Confirm Password</label>
                                    <input class="input--style-4" type="Password" name="clerkpwd2" autocomplete="off" required onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Passwords doesn't match : '');" title="Passwords doesnt match">
                                </div>
                            </div>
                        </div>                     
                                                
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" style="float:right" type="submit">Next</button>
                        </div>
                        <span hidden>
                            <input type="text" name="first_name" value="{{firstname}}">
                            <input type="text" name="last_name" value="{{lastname}}">
                            <input type="text" name="birthday" value="{{dob}}">
                            <input type="text" name="gender" value="{{gender}}">
                            <input type="text" name="email" value="{{email}}">
                            <input type="text" name="adminmobile" value="{{adminmobile}}">
                            <input type="text" name="schoolname" value="{{schoolname}}">
                            <input type="text" name="schooladdress" value="{{schooladdress}}">
                            <input type="text" name="schoolmobile" value="{{schoolmobile}}">
                            <input type="text" name="privatedata1" value="{{privatedata1}}">                            
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static '/templates/Signup/vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static '/templates/Signup/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static '/templates/Signup/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static '/templates/Signup/vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static '/templates/Signup/js/global.js' %}"></script>
</body>
</html>