<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign up : Eduwiz</title>
    {% load static %}
    <link href="{% static '/templates/Signup/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static '/templates/Signup/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{% static '/templates/Signup/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static '/templates/Signup/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">
    <link href="{% static '/templates/Signup/css/main.css' %}" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Administrator Password</h2>
                    <form method="POST" action="/signup/">  {% csrf_token %}
                        <input type="text" name="checker" value="{{checker}}" hidden>
                        <div class="input-group">
                            <label class="label">Choose Password</label>
                            <input class="input--style-4" type="Password" name="pwd"autocomplete="off" required placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters' : ''); if(this.checkValidity()) form.pwd2.pattern = this.value;">  
                        </div>
                        <div class="input-group">
                            <label class="label">Confirm Password</label>
                            <input class="input--style-4" type="Password" name="pwd2" autocomplete="off" required placeholder="Confirm Password" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Passwords doesn't match : '');" title="Passwords doesnt match">  
                        </div>
                        <div class="p-t-15">                            
                            <button class="btn btn--radius-2 btn--blue" style="float:right" type="submit">Next</button>
                        </div>
                        <span hidden>
                            <input type="text" name="first_name" value="{{firstname}}">
                            <input type="text" name="last_name" value="{{lastname}}">
                            <input type="text" name="birthday" value="{{dob}}">
                            <input type="text" name="gender" value="{{gender}}">
                            <input type="text" name="email" value="{{email}}">
                            <input type="text" name="phone" value="{{mobile}}">
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static '/templates/Signup/vendor/jquery/jquery.min.js' %}"></script>    
    <!-- Vendor JS-->
    <script src="{% static '/templates/Signup/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static '/templates/Signup/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static '/templates/Signup/vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static '/templates/Signup/js/global.js' %}"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->