
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Faculty Account
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="{% static '/templates/in-Administrator/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static '/templates/in-Administrator/assets/css/now-ui-dashboard.css' %}" rel="stylesheet" />
  <link href="{% static '/templates/in-Administrator/assets/demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="http://localhost:8000" class="simple-text logo-mini">

        </a>
        <a href="http://localhost:8000" class="simple-text"
          style="font-size: 25px;font-family: 'Montserrat', sans-serif;">
          Eduwiz
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/signin/dashboard">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/signin/viewdata">
              <i class="now-ui-icons education_paper"></i>
              <p>View Data</p>
            </a>
          </li>
          <li class="active">
            <a href="/signin/Attendancemanager">
              <i class="now-ui-icons files_single-copy-04"></i>
              <p>Attendance manager</p>
            </a>
          </li>
          <li>
            <a href="/signin/declaration">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p>Declaration</p>
            </a>
          </li>                              
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand">Attendance manager</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="now-ui-icons users_single-02"> </i>Faculty
                  <p>
                    <span class="d-lg-none d-md-block"></span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" style="pointer-events: none;color:Black;" href="http://www.google.com">Hello
                    {{uname}}</a>                  
                  <a class="dropdown-item" href="/logout">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="places-buttons">
              <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h4 class="card-title">
                    Attendance manager
                    <p class="category">Manage faculty and students attendance here</p>
                  </h4>
                </div>
              </div>
              <div class="row" style="padding-bottom: 10%;padding-top: 2%;">
                <div class="col-lg-12 ml-auto mr-auto">
                  <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#insertmodel"
                        style="height: 200px;font-size: 15px">Show/Insert/Change Attendance data</button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 ml-auto mr-auto">
                  <div class="row">
                    <div class="col-md-2">
                    </div>
                    <!--insertmodel-->
                    <div class="modal fade" id="insertmodel">
                      <div class="modal-content modal-dialog">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Insert today's attendance</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form id="attendanceform"> {% csrf_token %}
                          <div class="modal-body">
                            <div class="input-group">
                              <div class="col-5">
                                <label for="attendanceof">Type : </label>
                                <select id="attendanceof" name="standard" onchange="gettype()" required>
                                  <option value="" selected disabled>Select std</option>
                                  <option value="Faculty">Faculty</option>
                                  <option value="Student">Student</option>
                                </select>
                              </div>
                              <div class="col-5" id="stdhidden" hidden>
                                <label for="student_std">Std : </label>
                                <select id="student_std" name="standard" required onchange="getstudents()">
                                  <option value="" selected disabled>Select std</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                  <option value="10">10</option>
                                  <option value="11">11</option>
                                  <option value="12">12</option>
                                </select>
                              </div>
                            </div>
                            <form>
                              <div class="input-group">
                                <div class="col-6">
                                  <label for="date">Date : </label>
                                  <input type="date" onload="getDate()" onchange="checkdate()" class="form-control" id="date" name="date"
                                    required>

                                </div>
                              </div>
                          </div>
                          <!--po-->
                          <span id="facultyhidden" hidden>
                            <div class="col-md-12">
                              <div class="card">
                                <div class="card-header">
                                  <h5 class="card-category">Attendance</h5>
                                  <h4 class="card-title">Faculty List</h4>
                                </div>
                                <div class="card-body">
                                  <div class="table-responsive">
                                    <table class="table">
                                      <thead class="text-primary">
                                        <th>
                                          Enroll
                                        </th>
                                        <th>
                                          Name
                                        </th>
                                        <th>
                                          subject
                                        </th>
                                        <th class="text-right">
                                          Attendance
                                        </th>
                                      </thead>
                                      <tbody id="facultytable">
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <input class="btn btn-info" id="deletetrigger" value="Done" onclick="dateval()">
                            </div>
                          </span>
                          <!--op-->
                          <!--po-->
                          <span id="studenthidden" hidden>
                            <div class="col-md-12">
                              <div class="card">
                                <div class="card-header">
                                  <h5 class="card-category">Attendance</h5>
                                  <h4 class="card-title">Students List</h4>
                                </div>
                                <div class="card-body">
                                  <div class="table-responsive">
                                    <table class="table">
                                      <thead class="text-primary">
                                        <th>
                                          Enroll
                                        </th>
                                        <th>
                                          Name
                                        </th>
                                        <th>
                                          Father name
                                        </th>
                                        <th class="text-right">
                                          Attendance
                                        </th>
                                      </thead>
                                      <tbody id="studenttable">
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <input class="btn btn-info" id="deletetrigger" value="Done" onclick="submitstudentattview()">
                            </div>
                          </span>
                          <!--op-->
                        </form>
                      </div>
                    </div>
                    <!--end insertmodel-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav>
            <ul>
              <li>
                <a href="http://www.vapsquare.tk">
                  Blog
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static '/templates/in-Administrator/assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/core/popper.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/core/bootstrap.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
  <script src=".."></script>
  <script src="{% static '/templates/in-Administrator/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/plugins/bootstrap-notify.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/js/now-ui-dashboard.min.js' %}"></script>
  <script src="{% static '/templates/in-Administrator/assets/demo/demo.js' %}"></script>
  <script>
   var datag;
   var datat;
    $(document).ready(function () {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });
    function dateval() {
      if (document.getElementById('date').value) {
        //start fac att
        $("#insertmodel").modal("hide");
        var i=1;
        data=datag;
        var data3 = {
          "total" : datat,
          "attdate" : document.getElementById('date').value,
        };                
        while(i<=datat)
        {          
          data3[String(data[i]["Enroll"])] = $('#id' + data[i]["Enroll"]+"fac").is(":checked");
          i++;
        }        
        $.ajax({
          type: 'POST',
          dataType: 'JSON',
          url: '/insertfacattendance/',
          data:data3,
          success: function (result) {            
            $.notify({
              message: result.msg
            }, {
                type: 'success'
              });
          },
          error: function (error) {
            $.notify({
              message: "Unable to fetch faculty data. Please try again later."
            }, {
                type: 'danger'
              });
          }
        })
        //end fac att
      } else {
        alert("Please enter valid date")
      }
    }
    //student attendance submit
    function submitstudentattview(){
      if (document.getElementById('date').value) {
        //start fac att
        $("#insertmodel").modal("hide");
        var i=1;
        data=datag;
        var data3 = {
          "total" : datat,
          "attdate" : document.getElementById('date').value,
          "standard1" : document.getElementById('student_std').value,
        };                
        while(i<=datat)
        {          
          data3[String(data[i]["Enroll"])] = $('#fac' + data[i]["Enroll"]+"id").is(":checked");
          i++;
        }        
        $.ajax({
          type: 'POST',
          dataType: 'JSON',
          url: '/insertstuattendance/',
          data:data3,
          success: function (result) {            
            $.notify({
              message: result.msg
            }, {
                type: 'success'
              });
          },
          error: function (error) {
            $.notify({
              message: "Unable to fetch faculty data. Please try again later."
            }, {
                type: 'danger'
              });
          }
        })
        //end fac att
      } else {
        alert("Please enter valid date")
      }
    }
    $('#insertmodel').on('hidden.bs.modal', function () {
      hideaction();
    });
    $('#insertmodel').on('show.bs.modal', function () {
      var today = new Date();
      document.getElementById("date").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
    });
    function checkdate(){
      if (!document.getElementById('date').value) 
      {
        var today = new Date();
        document.getElementById("date").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
      }
      if($("#attendanceof").val()=="Faculty"){ 
        //document.write("detect");
        gettype()
      }else if( $("#attendanceof").val()=="Student")
      {
        if($("#student_std").val())
        {
          getstudents()
        }
      }
    }
    function hideaction() {
      $("#facultytable").html("");
      $("#studenttable").html("");
      document.getElementById("attendanceform").reset();
      $("#stdhidden").prop("hidden", true);
      $("#facultyhidden").prop("hidden", true);
      $("#studenthidden").prop("hidden", true);
    }
    function gettype() {
      console.log("vrushank");
      if (!document.getElementById('date').value) 
      {
        var today = new Date();
        document.getElementById("date").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
      }      
      var type = $("#attendanceof").val();      
      if (type == "Student") {
        $("#facultytable").html("");
        $("#studenttable").html("");
        $("#stdhidden").prop("hidden", false);
        $("#facultyhidden").prop("hidden", true);        
      }
      if (type == "Faculty") {                
        $("#studenttable").html("");
        $("#facultytable").html("");
        $("#stdhidden").prop("hidden", true)
        $("#facultyhidden").prop("hidden", false)
        $("#studenthidden").prop("hidden", true)
        $.ajax({
          type: 'POST',
          dataType: 'JSON',
          url: '/getallfaculty/',
          data:{
            "date" : document.getElementById("date").value
          },
          success: function (result) {
            console.log(result.data);
            let r = result.data;
            datag = result.data;
            datat = result.total;
            let total = result.total;
            var i = 1;            
            while (i <= total) {    
              if(r[i]["present"]==true)          {
                $("#facultytable").append("<tr><td>" + r[i]["Enroll"] + "</td><td>" + r[i]["name"] + "</td><td>" + r[i]["subject"] + "</td><td class='text-center'>Present <input id = 'id"+ r[i]["Enroll"] +"fac' type='checkbox' checked></td></tr>");
              }else{
                $("#facultytable").append("<tr><td>" + r[i]["Enroll"] + "</td><td>" + r[i]["name"] + "</td><td>" + r[i]["subject"] + "</td><td class='text-center'>Present <input id = 'id"+ r[i]["Enroll"] +"fac' type='checkbox'></td></tr>");
              }              
              i++;
            }
          },
          error: function (error) {
            $.notify({
              message: "Unable to fetch faculty data. Please try again later."
            }, {
                type: 'danger'
              });
          }
        })
      }
    }
    function getstudents() {
      $("#studenttable").html("");
      $("#studenthidden").prop("hidden", false);
      dataa = {
        "std": $("#student_std").val(),
        "date" : document.getElementById("date").value,
      }
      $.ajax({
        type: 'POST',
        dataType: 'JSON',
        data: dataa,
        url: '/getallstudent/',
        success: function (result) {
          console.log(typeof(result))
          console.log(result);
          let r = result.datas;
          datag = result.datas;
          datat = result.totals;
          let total = result.totals;
          var i = 1;
          while (i <= total) {
            if(r[i]["present"]==true)          {              
                $("#studenttable").append("<tr><td>" + r[i]["Enroll"] + "</td><td>" + r[i]["name"] + "</td><td>" + r[i]["fathername"] + "</td><td class='text-center'>Present <input id = 'fac"+ r[i]["Enroll"] +"id' type='checkbox' checked></td></tr>");
              }else{                
                $("#studenttable").append("<tr><td>" + r[i]["Enroll"] + "</td><td>" + r[i]["name"] + "</td><td>" + r[i]["fathername"] + "</td><td class='text-center'>Present <input id = 'fac"+ r[i]["Enroll"] +"id' type='checkbox'></td></tr>");
              }            
            i++;
          }
        },
        error: function (error) {
          $.notify({
            message: "Unable to fetch student data. Please try again later."
          }, {
              type: 'danger'
            });
        }
      })
    }
  </script>
</body>

</html>